<h2 fxLayoutAlign="center center">Approve Request</h2>

<mat-divider></mat-divider>

<div fxLayout="column" class="container">
  <h3 fxLayoutAlign="center center">Request from '{{origin}}'</h3>

  <form (ngSubmit)="approve()">
    <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
      <button mat-stroked-button fxFlex="auto" type="button" (click)=cancel()>Cancel</button>
      <button mat-stroked-button fxFlex="auto" color="primary">Approve</button>
    </div>
  </form>
</div>