<h2 fxLayoutAlign="center center">{{ 'settings.title' | translate }}</h2>

<mat-divider></mat-divider>
<div fxLayout="column" class="container">
  <h2>{{ 'settings.language' | translate }}</h2>
  <mat-form-field>
    <mat-label>{{ 'settings.selectLanguage' | translate }}</mat-label>
    <mat-select [formControl]="langControl" (selectionChange)="langChanged()" required>
      <mat-option *ngFor="let l of languages" [value]="l.langValue">
        {{ l.langString }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-divider></mat-divider>
<div fxLayout="column" class="container">
  <h2>{{ 'settings.advancedMode' | translate }}</h2>
  <mat-slide-toggle color="primary" [formControl]="advancedModeToggleControl" (change)="advancedModeChanged()">
    {{ 'settings.advancedMode' | translate }}
  </mat-slide-toggle>
</div>

<mat-divider></mat-divider>
<div *ngIf="existsVault && isUnlocked" fxLayout="column" class="container">
  <h2>{{ 'settings.revealPassphrase' | translate }}</h2>

  <form fxLayout="column">
    <mat-form-field *ngIf="! passphrase" class="password-field">
      <input matInput autofocus [type]="hide ? 'password' : 'text'" placeholder="{{ 'settings.enterPassword' | translate }}" [formControl]="passwordControl" />
      <mat-icon matSuffix (click)="hide = ! hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <ng-container *ngIf="passphrase">
      <p class="attention">
        <strong>{{ 'settings.attentionPassphrase' | translate }}</strong>
      </p>

      <mat-card class="passphrase">
        <mat-card-header *ngIf="this.advancedModeToggleControl.value">
          <mat-card-title>{{seedVersionString}}</mat-card-title>
          <mat-card-subtitle>{{ 'settings.derivationPath' | translate }}: {{basePath}}i</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="row">
          <p fxFlex="auto">{{passphrase}}</p>
          <button mat-icon-button (click)="copyPassphrase()">
            <mat-icon>file_copy</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <button mat-stroked-button *ngIf="! passphrase" fxFlex="auto" color="primary" (click)="revealPassphrase()" [disabled]="!passwordControl.valid">{{ 'settings.revealPassphrase' | translate }}</button>

  </form>
</div>

<mat-divider></mat-divider>
<div *ngIf="existsVault" fxLayout="column" class="container">
  <h2>{{ 'settings.purgeAccounts' | translate }}</h2>

  <p class="attention">
    <strong>{{ 'settings.attentionPurge' | translate }}</strong>
  </p>
  <form fxLayout="column">
    <mat-checkbox class="purge-check" [formControl]="canPurgeAll" required>{{ 'settings.purgeAll' | translate }}</mat-checkbox>
    <button mat-stroked-button fxFlex="auto" color="primary" (click)="purgeAll()" [disabled]="!canPurgeAll.valid">{{ 'settings.purge' | translate }}</button>
  </form>
</div>