mat-tab-group {
  padding: 0.5rem;
}

.full-width {
  width: 100%;
}

.top-field {
  padding-top: 1rem;
}

.button-div {
  button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.attention {
  color: red;
  font-size: 0.8rem;
}