<h2 fxLayoutAlign="center center">{{ 'addAccount.title' | translate }}</h2>

<mat-divider></mat-divider>

<mat-tab-group [selectedIndex]="selected">
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'addAccount.create' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <form (ngSubmit)="createAccount()">
        <mat-form-field class="full-width top-field">
          <input matInput placeholder="{{ 'addAccount.accountName' | translate }}" [formControl]="nameFormControl" required>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            {{ 'addAccount.required' | translate }}
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
          <button mat-stroked-button fxFlex="auto" type="button" routerLink="/">{{ 'addAccount.cancel' | translate }}</button>
          <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="!nameFormControl.valid">{{ 'addAccount.create' | translate }}</button>
        </div>
      </form>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'addAccount.import' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <form [formGroup]="importForm" (ngSubmit)="importAccount()">
        <mat-form-field class="full-width top-field">
          <input matInput placeholder="{{ 'addAccount.accountName' | translate }}" [formControl]="nameFormControl" required>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            {{ 'addAccount.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="{{ 'addAccount.privatekey' | translate }}" required [formControl]="privatekeyFormControl">
          <mat-error *ngIf="privatekeyFormControl.hasError('required')">
            {{ 'addAccount.required' | translate }}
          </mat-error>
        </mat-form-field>
        <p class="attention"><strong>{{ 'addAccount.attentionImport' | translate }}</strong></p>
        <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
          <button mat-stroked-button fxFlex="auto" type="button" routerLink="/">{{ 'addAccount.cancel' | translate }}</button>
          <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="!importForm.valid">{{ 'addAccount.import' | translate }}</button>
        </div>
      </form>
    </ng-template>
  </mat-tab>
</mat-tab-group>
