.hidden {
  visibility: hidden;
}

.ident-svg {
  border-radius: 50px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 38px;
  height: 38px;
  display: inline-block;
}

.import-chip {
  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  margin-left: 0.4rem;
}