<h2>TERMS OF USE</h2>

<mat-divider></mat-divider>

<mat-card fxLayoutAlign="center center">
  <!-- <strong>Don't Trust. Verify.</strong> -->
  <pre>
　　  　　　　　　　　 ∧＿∧　　  ／￣￣￣￣￣￣￣￣￣￣￣￣￣
　　　　　　　　　　 （´Д｀） ＜　Don't Trust. 
　　　　　　　　　　／,　　/　　　＼
　　　　　　　　　(ぃ９　　|　 　　　 ￣￣￣￣￣￣￣￣￣￣￣￣
　　　　　　　 　 /　　　 /、
　　　　　　　　 /　　　∧_二つ
　　　　　　 　 /　　　/
　　　　　　　 /　　　 ＼
　　　　　　　/　 /~＼ 　＼
　　　　　　 /　 /　　　>　 ）
　　　　　／　ノ　 　 /　／
　　　　/　／ 　  　 /  /　　 　　(ﾟДﾟ）　＜Verify.
　　　 /  /　　　　 （　ヽ､　　 　 @(　)>
　　 （　 _)　　　　　 ＼__つ　　　 ／ >　
  </pre>
</mat-card>

<div fxLayoutAlign="center center" class="container">
  <button mat-stroked-button fxFlex="auto" color="primary" routerLink="/register">Accept</button>
</div>