<h2 fxLayoutAlign="center center">{{ 'send.title' | translate }}</h2>

<mat-divider></mat-divider>

<form [formGroup]="sendForm" (ngSubmit)="send()" class="send-form">

  <mat-form-field class="full-width">
    <input matInput readonly="true" placeholder="{{ 'send.from' | translate }}" formControlName="from" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [readonly]="hasAssignedTo" placeholder="{{ 'send.to' | translate }}" formControlName="to" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>{{ 'send.asset' | translate }}</mat-label>
    <mat-select *ngIf="! hasAssignedAsset" formControlName="asset">
      <mat-option value="MONA">MONA</mat-option>
      <mat-option *ngFor="let asset of assets" [value]="asset.asset">{{asset.asset_longname ? asset.asset_longname : asset.asset}}</mat-option>
    </mat-select>
    <input matInput *ngIf="hasAssignedAsset" [readonly]="true" placeholder="{{ 'send.asset' | translate }}" formControlName="asset" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [readonly]="hasAssignedAmount" type="text" placeholder="{{ 'send.amount' | translate }}" formControlName="amount" required />
    <span mat-button matSuffix *ngIf="! hasAssignedAmount" (click)="setAvailableAllFunds()" class="available-button">
      {{ 'send.available' | translate }}{{getAvailable(assetControl.value)}}
    </span>
  </mat-form-field>

  <div formGroupName="memo" *ngIf="assetControl.value !== 'MONA'">
    <mat-form-field class="full-width">
      <mat-label>{{ 'send.memoType' | translate }}</mat-label>
      <mat-select *ngIf="! hasAssignedMemoType" formControlName="memoType" required>
        <mat-option value="no">{{ 'send.no' | translate }}</mat-option>
        <mat-option value="hex">{{ 'send.hex' | translate }}</mat-option>
        <mat-option value="plain">{{ 'send.plain' | translate }}</mat-option>
      </mat-select>
      <div *ngIf="hasAssignedMemoType" [ngSwitch]="memoTypeControl.value">
        <input matInput *ngSwitchCase="'no'" readonly="true" placeholder="{{ 'send.memoType' | translate }}" value="{{ 'send.no' | translate }}" />
        <input matInput *ngSwitchCase="'hex'" readonly="true" placeholder="{{ 'send.memoType' | translate }}" value="{{ 'send.hex' | translate }}" />
        <input matInput *ngSwitchCase="'plain'" readonly="true" placeholder="{{ 'send.memoType' | translate }}" value="{{ 'send.plain' | translate }}" />
      </div>
    </mat-form-field>

    <mat-error *ngIf="memoGroup.invalid">{{ 'send.invalidMemo' | translate }}</mat-error>
  
    <mat-form-field class="full-width" *ngIf="memoTypeControl.value === 'hex' || memoTypeControl.value === 'plain'">
      <input matInput [readonly]="hasAssignedMemoValue" placeholder="{{ 'send.memo' | translate }}" formControlName="memoValue" />
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex="auto">
      <input matInput type="number" placeholder="{{ 'send.fee' | translate }}" formControlName="fee" required />
    </mat-form-field>

    <div *ngIf="isAdvancedModeEnabled; then advancedModeEnabled; else advancedModeDisabled"></div>

    <ng-template #advancedModeEnabled>
      <mat-slider min="10" max="200" thumbLabel="true" [value]="feeControl.value" (input)="feeControl.setValue($event.value)"></mat-slider>
    </ng-template>

    <ng-template #advancedModeDisabled>
      <div fxLayoutAlign="center center">
        <button mat-flat-button type="button" (click)="feeControl.setValue(101)">{{ 'send.slow' | translate }}</button>
        <button mat-flat-button type="button" (click)="feeControl.setValue(201)">{{ 'send.fast' | translate }}</button>
      </div>
    </ng-template>
  </div>

  <div class="result-div">
    <ng-container *ngIf="unsignedTx">
      <p>{{ 'send.resultFee' | translate }}{{calculatedFee / 100000000 | number:'1.8-8'}} MONA</p>
      <ng-container *ngIf="unsignedTx">
      </ng-container>
      <div *ngIf="assetControl.value === 'MONA'; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        {{ 'send.remaining' | translate:{value: (getAvailableNumber(assetControl.value) - amountControl.value - calculatedFee / 100000000) | number:'1.8-8'} }}
      </ng-template>
      <ng-template #elseBlock>
        {{ 'send.remaining' | translate:{value: (getAvailableNumber('MONA') - calculatedFee / 100000000) | number:'1.8-8'} }}
      </ng-template>
    </ng-container>
  </div>

  <ng-container *ngIf="request">
    <mat-divider></mat-divider>
    <h3 fxLayoutAlign="center center">{{ 'send.requestFrom' | translate }}'{{origin}}'</h3>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
    <button mat-stroked-button fxFlex="auto" type="button" (click)=cancel()>{{ 'send.cancel' | translate }}</button>
    <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="unsignedTx === ''">{{ 'send.send' | translate }}</button>
  </div>
</form>