
<h2 fxLayoutAlign="center center">{{ 'generate.title' | translate }}</h2>

<mat-divider></mat-divider>

<form [formGroup]="generateForm" (ngSubmit)="savePassphrase()" class="generate-form">
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'generate.generate' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <p>{{ 'generate.generatePassphrase' | translate }}</p>
        <mat-form-field class="full-width">
          <textarea matInput matTextareaAutosize readonly="true" formControlName="passphrase" required></textarea>
          <mat-icon matSuffix (click)="generateRandomMnemonic()">refresh</mat-icon>
        </mat-form-field>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'generate.import' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <p>{{ 'generate.importPassphrase' | translate }}</p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="passphrase" required></textarea>
          <mat-error *ngIf="passphraseControl.hasError('required')">
            {{ 'generate.required' | translate }}
          </mat-error>
          <mat-error *ngIf="passphraseControl.hasError('twelveWords')">
            {{ 'generate.words12' | translate }}
          </mat-error>
        </mat-form-field>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <mat-form-field *ngIf="isAdvancedModeEnabled" class="full-width">
    <mat-label>{{ 'generate.seedVersion' | translate }}</mat-label>
    <mat-select formControlName="seedVersion" (selectionChange)="versionChanged()" required>
      <mat-option *ngFor="let v of seedVersions" [value]="v.versionValue">
        {{ v.versionString }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field *ngIf="isAdvancedModeEnabled && seedVersionControl.value === 'Bip39' && isGenerate" class="full-width">
    <mat-label>{{ 'generate.seedLanguage' | translate }}</mat-label>
    <mat-select formControlName="seedLanguage" (selectionChange)="generateRandomMnemonic()" required>
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{ lang }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field *ngIf="isAdvancedModeEnabled" class="full-width">
    <textarea matInput placeholder="{{ 'generate.basePath' | translate }}" formControlName="basePath" required></textarea>
  </mat-form-field>

  <label fxLayout="row">
    <mat-checkbox fxLayoutAlign="center center" formControlName="isSaved" required></mat-checkbox>
    <p class="is-saved-label">{{ 'generate.checkSave' | translate }}</p>
  </label>
  <mat-error *ngIf="isSavedControl.hasError('required')">
    {{ 'generate.errorSave' | translate }}
  </mat-error>

  <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
    <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="!generateForm.valid">{{ 'generate.save' | translate }}</button>
  </div>
</form>