<h2 fxLayoutAlign="center center">{{ 'details.title' | translate }}</h2>

<mat-divider></mat-divider>

<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
      <div *ngIf="trustSvg" class="ident-svg" [innerHTML]="trustSvg"></div>
    </div>
    <div *ngIf="editing; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <form (ngSubmit)="setAccountName()" class="name-edit-form">
        <mat-form-field>
          <input matInput [formControl]="nameControl"/>
        </mat-form-field>
        <button mat-icon-button [disabled]="!nameControl.valid">
          <mat-icon>check</mat-icon>
        </button>
      </form>
    </ng-template>
    <ng-template #elseBlock>
      <h3 fxLayoutAlign="center center" class="account-name">{{name}}</h3>
      <button mat-icon-button (click)="editing = true">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>

  <div fxLayoutAlign="center center">
    <img *ngIf="addressQr" [src]="addressQr" />
  </div>

  <p fxLayoutAlign="center center" class="account-address">{{address}}</p>

  <button mat-stroked-button fxFlex="auto" (click)="viewMpchain()">{{ 'details.viewMpchain' | translate }}</button>

  <form fxLayout="column" class="privatekey-form">
    <mat-form-field *ngIf="! privatekey" class="password-field">
      <input matInput autofocus [type]="hide ? 'password' : 'text'" placeholder="{{ 'details.enterPassword' | translate }}" [formControl]="passwordControl" />
      <mat-icon matSuffix (click)="hide = ! hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <ng-container *ngIf="privatekey">
      <p class="attention">
        <strong>{{ 'details.attentionPrivatekey' | translate }}</strong>
      </p>

      <mat-card class="privatekey" fxLayout="row">
        <p>{{privatekey}}</p>
        <button mat-icon-button (click)="copyPrivatekey()">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-card>
    </ng-container>

    <button mat-stroked-button *ngIf="! privatekey" fxFlex="auto" (click)="revealPrivatekey()" [disabled]="!passwordControl.valid">{{ 'details.exportPrivatekey' | translate }}</button>
  </form>
</div>