<h2 fxLayoutAlign="center center">{{ 'infomation.title' | translate }}</h2>

<mat-divider></mat-divider>
<div fxLayout="column" class="container">
  <h2>{{ 'infomation.aboutMpurseTitle' | translate }}</h2>

  <p>{{ 'infomation.aboutMpurse' | translate }}</p>
</div>

<mat-divider></mat-divider>
<div fxLayout="column" class="container">
  <h2>{{ 'infomation.aboutMpchainTitle' | translate }}</h2>

  <p>{{ 'infomation.aboutMpchain' | translate }}</p>
  <a href="https://mpchain.info" (click)="viewNewTab('https://mpchain.info')">https://mpchain.info</a>
</div>

<mat-divider></mat-divider>
<div fxLayout="column" class="container">
  <h2>{{ 'infomation.aboutDonateTitle' | translate }}</h2>

  <p>{{ 'infomation.aboutDonate' | translate }}</p>
  <div *ngIf="isUnlocked; then unlocked; else locked"></div>
  <ng-template #unlocked><p><a routerLink="/send" [queryParams]="{ to: 'MLinW5mA2Rnu7EjDQpnsrh6Z8APMBH6rAt' }">MLinW5mA2Rnu7EjDQpnsrh6Z8APMBH6rAt</a></p></ng-template>
  <ng-template #locked><p>MLinW5mA2Rnu7EjDQpnsrh6Z8APMBH6rAt</p></ng-template>
</div>
