<h2 fxLayoutAlign="center center">{{ 'login.title' | translate }}</h2>

<mat-divider></mat-divider>

<form (ngSubmit)="unlock()" class="login-form">

  <mat-form-field class="full-width">
    <input matInput autofocus [type]="hide ? 'password' : 'text'" placeholder="{{ 'login.enterPassword' | translate }}" [formControl]="passwordControl" />
    <mat-icon matSuffix (click)="hide = ! hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
    <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="!passwordControl.valid">{{ 'login.unlock' | translate }}</button>
  </div>
  
</form>