
<h2 fxLayoutAlign="center center">
  {{send ? 'Sign And Send Transaction Request' : 'Sign Transaction Request'}}
</h2>

<mat-divider></mat-divider>

<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
      <div *ngIf="trustSvg" class="ident-svg" [innerHTML]="trustSvg"></div>
    </div>
    <h3 fxLayoutAlign="center center" class="account-name">{{name}}</h3>
  </div>

  <p fxLayoutAlign="center center" class="account-address">{{address}}</p>

  <mat-divider></mat-divider>

  <form [formGroup]="signatureForm" (ngSubmit)="sign()" class="signature-form">

    <mat-form-field class="full-width">
      <mat-label>Raw Transaction</mat-label>
      <textarea matInput
        [readonly]="request"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2"
        formControlName="raw"
        required>
      </textarea>
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="! request && signedControl.value">
      <mat-label>Signature</mat-label>
      <textarea matInput
        readonly="true"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        formControlName="signed">
      </textarea>
      <mat-icon matSuffix (click)="copy()">file_copy</mat-icon>
    </mat-form-field>

    <ng-container *ngIf="request">
      <mat-divider></mat-divider>
      <h3 fxLayoutAlign="center center">Request from '{{origin}}'</h3>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="button-div">
      <button mat-stroked-button fxFlex="auto" type="button" (click)=cancel()>Cancel</button>
      <button mat-stroked-button fxFlex="auto" color="primary" [disabled]="!signatureForm.valid">{{send ? 'Send' : 'Sign'}}</button>
    </div>
  </form>
</div>





