<h2 fxLayoutAlign="center center">{{ 'removeAccount.title' | translate }}</h2>

<mat-divider></mat-divider>

<div class="container">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayoutAlign="center center">
        <div *ngIf="trustSvg" class="ident-svg" [innerHTML]="trustSvg"></div>
      </div>
      <h3 fxLayoutAlign="center center" class="account-name">{{name}}</h3>
    </div>

    <p fxLayoutAlign="center center" class="account-address">{{address}}</p>
  
    <mat-divider></mat-divider>

    <p class="attention">
      <strong>{{ 'removeAccount.attentionRemove' | translate }}</strong>
    </p>
  </mat-card>

  <div fxLayout="row" class="button-div">
    <button mat-stroked-button fxFlex="auto" (click)="cancel()">{{ 'removeAccount.cancel' | translate }}</button>
    <button mat-stroked-button fxFlex="auto" color="primary" (click)="removeAccount()">{{ 'removeAccount.remove' | translate }}</button>
  </div>
</div>


